<div class="top-bar">
  <h1>Project Karma</h1>
</div>
<sui-tabset>
    <div class="ui top attached tabular menu">
        <a class="item" suiTabHeader="0">Home</a>
        <a class="item" suiTabHeader="1">The Team</a>
        <a class="item" suiTabHeader="2">Projects</a>
        <a class="item" suiTabHeader="3">Volunteer</a>
        <a class="item" suiTabHeader="4">Request Help</a>
    </div>
    <div class="ui bottom" suiTabContent="0">
      <br/><br/>
      <div class="ui two column centered grid">
        <h3>
          Project Karma is an initiative which aims to make available the knowledge of people all over the world to solve problems where necessary.
        </h3>
      </div>
    </div>
    <div class="ui bottom" suiTabContent="1">
      <br/><br/>
        <div class="ui two column centered grid">
          <h3>
            TODO: Put up small biographies and pictures of people involved
          </h3>
        </div>
    </div>
    <div class="ui bottom" suiTabContent="2">
      <br/><br/>
        <div class="ui two column centered grid">
          <h3>
            TODO: Put up info about ongoing, completed and upcoming projects
          </h3>
        </div>
    </div>
    <div class="ui bottom" suiTabContent="3">
      <br/><br/>
        <div class="ui two column centered grid">
          <h3>
            TODO: Volunteer form
          </h3>
        </div>
    </div>
    <div class="ui bottom" suiTabContent="4">
      <br/><br/>
        <div class="ui two column centered grid">
          <h3>
            TODO: Request Help form
          </h3>
        </div>
    </div>
</sui-tabset>
<footer class="footer">
  Copyright © 2017 Project Karma
</footer>